@import 'variables';
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.aa {
    color: red;
}

.form-select {
    width: 150px;
    margin: 0 16px;
}